.center {
    text-align: center;
    font-weight: bold;
    font-size: 250%;
}

.title1 {
    font-weight: bold;
    font-size: 200%;
    padding-top:30px;
    padding-bottom:20px;
}

.title {
	font-weight: bold;
	font-size: 200%;
    padding-top:580px;
    padding-bottom:20px;

}

.vis {
	line-height:30px;
    height:500px;
    width:47%;
    float:left;
    border-style: solid;
    border-width: thin;
    
}

.speed {
    padding-left: 50px;
}