#maindiv {
    background-color:#e5eecc;
}
#header {
    background-color:#a8eecc;
}


#play:hover, #pause:hover, #step:hover, #stop:hover, #end {
    cursor: pointer;
    cursor: hand;
}


#mainheader {
    background-color: #888888;
    color: #FFFFFF;
    padding: 5px;
}

#code_env {
    line-height:30px;
    height:500px;
    width:40%;
    float:left;
    border-style: solid;
    border-width: thin;
    background-color:#eeeeee;
    text-align:center;
}

#helptext {
    line-height:0px;
}

textarea#user_textbox:hover {
    cursor:text;
}

textarea#user_textbox{
    height: 60%;
    margin-left: 5%;
    width: 87%;
    resize:none;
}

#range {
    position: relative;
    top: -10px;
    line-height: 20px;

}

#vis_paper {
    height:500px;
    width:57%;
    float:right;
    border-style: solid;
    border-width: thin;
}

#modal {
    position:absolute;
    height:500px;
    width:59%;
    right:0px;
    background:rgba(0,0,0,1);
    border-radius:10px;
    padding:8px;
}

#content {
    border-radius:8px;
    background:#fff;
    padding:20px;
}



